.wp-block-ivan-hrk-api-based-addon .api-data-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 16px;
	text-align: left;
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	margin: 0;
	clear: both;
	word-wrap: break-word;

	td,
	th {
		padding: 8px 10px;
		font-size: 13px;
		line-height: 1.5;
		text-align: left;
		vertical-align: top;
	}

	tr:nth-child(odd) {
		background-color: #f6f7f7;
	}

	thead th,
	thead td,
	tfoot th,
	tfoot td {
		background: #fff;
		border-bottom: 1px solid #c3c4c7;
		line-height: 1.3;
		font-size: 14px;
	}

	tfoot th,
	tfoot td {
		border-top: 1px solid #c3c4c7;
		border-bottom: none;
	}
}
